<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Procesa</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Procesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrajuegos</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Administrajuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registra</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Registra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verificaconexion</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Verificaconexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cuenta</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Cuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambio</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.cambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jugar</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Jugar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conectajuego</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Conectajuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Muestrajujador</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Muestrajujador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peticiones</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Peticiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Respuesta</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Respuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaJuego</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.VerificaJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Juego</servlet-name>
        <servlet-class>org.toogamers.berrygames.conecta4.Juego</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Procesa</servlet-name>
        <url-pattern>/Procesa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrajuegos</servlet-name>
        <url-pattern>/Administrajuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registra</servlet-name>
        <url-pattern>/Registra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verificaconexion</servlet-name>
        <url-pattern>/Verificaconexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cuenta</servlet-name>
        <url-pattern>/Cuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambio</servlet-name>
        <url-pattern>/cambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jugar</servlet-name>
        <url-pattern>/Jugar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conectajuego</servlet-name>
        <url-pattern>/Conectajuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Muestrajujador</servlet-name>
        <url-pattern>/Muestrajujador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peticiones</servlet-name>
        <url-pattern>/Peticiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Respuesta</servlet-name>
        <url-pattern>/Respuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaJuego</servlet-name>
        <url-pattern>/VerificaJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Juego</servlet-name>
        <url-pattern>/Juego</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
